/* RESET CSS */
* { padding: 0; margin: 0;}

/* ADICIONANDO COR DE FUNDO */
body{
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
/* QUADRO DO GAME */
canvas { background: rgb(231, 226, 226); display: block; margin: 0 auto; }

/* IMPORTANDO FONTE EXTERNA */
@font-face {
    font-family: "Gameplay";
    src: url("../fonts/Gameplay.ttf");
}

/* UTILIZAND VARIÁVEIS PARA DIMINUIR REPETIÇÕES */
:root {
    --theme-game: #0095DD;
    --text-end-game: rgb(230, 5, 5);
    --text-white: #fff;
}

/* TITLE GAME */
.row h4{
    font-family: "Gameplay";
    position: relative;
    top: 180px;
    font-size: 3em;
    color: var(--theme-game);
    text-align: center;
}

/* CONTAINER */
.container{
    position: relative;
    top: 190px;
    width: 600;
    margin: 0 auto;
}

/* TEXT FINALLY */
#text{
    font-family: "Gameplay";
    font-size: 2.2em;
    color: var(--text-end-game);
    text-align: center;
    margin-top: 15px;
}

/* FOOTER */
footer{
    text-align: center;
}

footer span {
    font-family: "Gameplay";
    position: relative;
    top: 500px;
    color: var(--text-white);
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--theme-game);
    
}

footer a:hover{
    color: var(--theme-game);
    text-shadow: 0px 0px 10px #FFFFFF, 0px 0px 10px #FFFFFF, 0px 0px 10px #FFFFFF, 0px 0px 10px #FFFFFF, 0px 0px 10px #FFFFFF, 0px 0px 10px #FFFFFF;
}
